node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
README.md
GEMINI.md
.idea
.vscode
*.log
.DS_Store
uploads
.git
.gitignore
render.yaml
GUIA_SERVIR_IMAGENES.md
EJEMPLO_FRONT.md
